.DS_Store
**/__pycache__/
dino-retrieval-final/features_dino_multifusion_multipooling/
dino-retrieval-final/features_dino_multifusion_multipooling.zip
*.pt
*.pkl
.DS_Store
**/__pycache__/
dino-retrieval-final/features_dino_multifusion_multipooling/
dino-retrieval-final/features_dino_multifusion_multipooling.zip
*.pt
*.pkl
.DS_Store
**/__pycache__/
dino-retrieval-final/features_dino_multifusion_multipooling/
dino-retrieval-final/features_dino_multifusion_multipooling.zip
*.pt
*.pkl
